<app-page-banner [bannerTitle]="bannerTitle"></app-page-banner>
<mat-card class="mat-elevation-z6 marginSmall">    
    <mat-card-content>               
        <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="center center">
            <!-- NEW ORDEN ORDER CARD -->
            <mat-card fxFlex="15" class="marginSmall min-card-option" routerLink="/create/newOrder">
                <mat-card-header fxLayoutAlign="center center">                  
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center center">
                    <mat-icon color="primary">receipt</mat-icon>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-stroked-button color="primary" fxFlex="90" routerLink="/create/newOrder">Crear</button>                
                </mat-card-actions>
            </mat-card>                
        </div>        
      </mat-card-content>      
</mat-card>
